<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ditenun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo_ditenun"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ditenun"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.commerce.account.CommerceRegisterActivity"></activity>
        <activity
            android:name=".activity.commerce.account.CommerceLoginActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.tenun.GenerateKristikActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.tenun.GenerateMotifActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.tenun.DetailTenunActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.tenun.ListTenunActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.commerce.order.track.TrackOrderActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.commerce.order.detail.DetailOrderActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.commerce.order.list.OrderActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.commerce.product.DetailProductActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".activity.commerce.ProductDashboardActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".activity.splash.SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.main.MainActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
    </application>

</manifest>